<div class="body-review">
    <div class="bgGrey"></div>
    <div class="space-padding">
        <h1 class="p-t-2">[Nome],</h1>
        <p>Escolha qual veículo você deseja verificar ou contratar serviços</p>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-4">
                <mat-card class="center m-t-3">
                    <img [src]="!changeImg ? '../../../../assets/images/audi-car.png' : '../../../../assets/images/volks-car.png'" alt="carro volks"/>
                    <h2>WV Nivus</h2>
                    <p class="d-flex centerBlock m-b-1"><mat-icon svgIcon="car-check"></mat-icon>Revisões Planejadas</p>
                    <button mat-button>Ver detalhes</button>
                </mat-card>
            </div>
            <div class="mdc-layout-grid__cell--span-4">
                <mat-card class="center m-t-3">
                    <img [src]="!changeImg ? '../../../../assets/images/audi-car.png' : '../../../../assets/images/volks-car.png'" alt="carro volks"/>
                    <h2>WV Nivus</h2>
                    <p class="d-flex centerBlock m-b-1"><mat-icon svgIcon="car-check"></mat-icon>Revisões Planejadas</p>
                    <button mat-button>Ver detalhes</button>
                </mat-card>
            </div>
            <div class="mdc-layout-grid__cell--span-4">
                <mat-card class="center m-t-3">
                    <img [src]="!changeImg ? '../../../../assets/images/audi-car.png' : '../../../../assets/images/volks-car.png'" alt="carro volks"/>
                    <h2>WV Nivus</h2>
                    <p class="d-flex centerBlock m-b-1"><mat-icon svgIcon="car-check"></mat-icon>Revisões Planejadas</p>
                    <button mat-button>Ver detalhes</button>
                </mat-card>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12 m-t-2 m-b-2">
                <hr/>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                <p>Deixe sua experiência ainda mais completa</p>
                <h2>Contrate os serviços Adicionais</h2>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-4">
                        <mat-card>
                            <div>
                                <mat-icon svgIcon="car-review"></mat-icon>
                            </div>
                            <div>
                                <strong>Revisões Planejadas</strong>
                                <p>Proteja-se de variações de preços e fique
                                    tranquilo com revisões realizadas com
                                    peças originais Volkswagen.</p>
                            </div>
                            <div class="d-flex">
                                <span class="example-spacer"></span>
                                <button mat-button>Contratar agora <mat-icon matSuffix svgIcon="chevron_direita"></mat-icon></button>
                            </div>
                        </mat-card>
                    </div>
                    <div class="mdc-layout-grid__cell--span-4">
                        <mat-card>
                            <div>
                                <mat-icon svgIcon="security"></mat-icon>
                            </div>
                            <div>
                                <strong>Seguro Auto</strong>
                                <p>Proteção total para o seu Volkswagen e contra 
                                    erceiros. Confira também os benefícios
                                    exclusivos do Seguro Volkswagen.</p>
                            </div>
                            <div class="d-flex">
                                <span class="example-spacer"></span>
                                <button mat-button>Contratar agora <mat-icon matSuffix svgIcon="chevron_direita"></mat-icon></button>
                            </div>
                        </mat-card>
                    </div>
                    <div class="mdc-layout-grid__cell--span-4">
                        <mat-card>
                            <div>
                                <mat-icon svgIcon="settings-check"></mat-icon>
                            </div>
                            <div>
                                <strong>Garantia Estendida</strong>
                                <p>Estenda a sua tranquilidade por mais tempo.
                                    Contrate um seguro de Garantia Estendida
                                    Original para seu Volkswagen.</p>
                            </div>
                            <div class="d-flex">
                                <span class="example-spacer"></span>
                                <button mat-button>Contratar agora <mat-icon matSuffix svgIcon="chevron_direita"></mat-icon></button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>