<div class="header d-flex">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-2 d-flex">
          <img class="logo" [src]="slide.checked ? '../../../../assets/images/audi-logo.png' : '../../../../assets/images/volks-logo.jpeg'" [alt]="slide.checked ? 'Logo Volks' : 'Logo Audi'"/>
      </div>
      <div class="mdc-layout-grid__cell--span-10 d-flex">
        <li class="m-l-2 d-flex">
            <mat-icon svgIcon="home"></mat-icon>
            <span>Início</span>
        </li>
        <li class="m-l-2 d-flex">
            <mat-icon svgIcon="profile"></mat-icon>
            <span>Meus dados</span>
        </li>
        <li class="m-l-2 d-flex">
            <mat-icon svgIcon="settings"></mat-icon>
            <span>Minha conta</span>
        </li>
        <li class="m-l-3 d-flex">
            <span class="grey no-margin txtRight w-100">Fale conosco</span>
        </li>
        <li class="m-l-2 d-flex">
            <span class="grey no-margin">Dúvidas</span>
        </li>
        <li class="m-l-2 d-flex">
            <mat-icon svgIcon="notification"></mat-icon>
        </li>
        <li class="m-l-2 d-flex">
            <mat-icon svgIcon="exit"></mat-icon>
            <span>Sair</span>
        </li>
      </div>
    </div>
</div>